
ParserTest/bin/Debug/ParserTest.exe
ParserTest/bin/Debug/ParserTest.exe.config
ParserTest/bin/Debug/ParserTest.pdb
ParserTest/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ParserTest/obj/Debug/ParserTest.csproj.AssemblyReference.cache
ParserTest/obj/Debug/ParserTest.csproj.CoreCompileInputs.cache
ParserTest/obj/Debug/ParserTest.csproj.FileListAbsolute.txt
ParserTest/obj/Debug/ParserTest.csproj.SuggestedBindingRedirects.cache
ParserTest/obj/Debug/ParserTest.exe
ParserTest/obj/Debug/ParserTest.pdb
*.exe
*.exe
